@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-heading
{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.btn-primary {
    @apply bg-blue-600 text-white uppercase px-4 py-1 rounded-sm flex items-center gap-x-1
    cursor-pointer
}
.btn-secondary{
    @apply bg-white text-slate-900 border border-slate-300 flex items-center gap-2 px-4 w-32 text-lg rounded-md cursor-pointer
}
.container-signup{
    background-image: linear-gradient(0deg,#0009,#0009), url("/signup.jpg");
    background-size: cover;
    @apply flex justify-center items-center h-[100vh] flex-col bg-slate-100
    
}
.imageContainer{
    @apply h-24 w-24 rounded-full bg-[url('https://cdn4.iconfinder.com/data/icons/business-and-office-29/512/396-_profile__avatar__image__dp_-512.png')]
    bg-cover
}

.btn-primary1{
    @apply rounded-md capitalize bg-blue-600 text-white flex items-center justify-center w-36 py-1
}
.explore-more-btn{
    cursor: pointer;
    transition: 0.2s;
}
.explore-more-btn:hover
{
    transform: scale(1.1);
}
.cat-btns button{
    transition: 0.3s all;
     cursor: pointer;
}
.cat-btns button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 1px #4c4c4c;
}